<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenCV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libjasper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>libjpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>libtiff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>opencv_calib3d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>opencv_contrib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>opencv_core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>opencv_features2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>opencv_flann.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>opencv_gpu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>opencv_haartraining_engine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>opencv_imgproc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>opencv_legacy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>opencv_ml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>opencv_objdetect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>opencv_video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86787C161509D7A600D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787EED1509DFB700D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787F0A1509E06800D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787F2E1509ECBD00D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787F3D1509ECD300D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787F4C1509ECE200D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787F5B1509ECF100D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787F6A1509ECFF00D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787F791509ED0F00D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787F881509ED2000D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787F971509ED2D00D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787FA61509ED3E00D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787FB51509ED4B00D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787FC41509ED5800D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787FD31509ED6200D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86787FE21509ED6900D0D0AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
